<!DOCTYPE html>
<html>
    <head>
        <title>ABout</title>
        <link rel="icon" href="/img/kd3.jpg">

        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <header>
            {{>header}}
        </header>

         <div class="main-content">
            <p>This Weather application get the location from the user and send it to <a href="https://www.mapbox.com/">MapBox</a>.In Mapbox we will find the Latitude and Longitude.
                    After Getting Latitude and Longitude we pass both information to the <a href="https://weatherstack.com/">weatherstack.com</a>  so that we can get the current temperature.

            </p>

            {{info}}<a href="https://github.com/Krunal4-Dhardev/Node-Weather-Website"> Github</a>


        </div>
        <footer>
            {{>footer}}
        </footer>    
    </body>
</html>