<!DOCTYPE html> 
<html>
    <head>
        <link rel="icon" href="/img/kd3.jpg">
        
        <title>Error</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1 class="error">{{errorMessage}}</h1>
        {{>footer}}
        </div>
    </body>
</html>