<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Help</title>
        <link rel="icon" href="/img/kd3.jpg">


    </head>
    <body>
        <header>
            <h1>
                {{>header}}
            </h1>
        </header>
         <div class="main-content">
            <p>{{help}}</p>
        </div>
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>